
.nav li a.host-tag { position: relative; padding-right: 22px;}
.host-tag .close { position:absolute; right: 4px; top: 0px; }
.site-deploy-manager .help-block { margin-bottom: 0px;}
.editHostType span{ font-size: 16px;}

textarea.form-control { resize: none; }
.help-block code { white-space: pre; }

a.showErrorLog { color: #e74c3c;}

#s-commit, .cv-font { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 14px;}
