
.nav li a.host-tag { position: relative; padding-right: 22px;}
.host-tag .close { position:absolute; right: 4px; top: 0px; }
.site-deploy-manager .help-block { margin-bottom: 0px;}
.editHostType span{ font-size: 16px;}

textarea.form-control { resize: none; }
.help-block code { white-space: pre; }

a.showErrorLog { color: #e74c3c;}

#s-commit, .cv-font { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 14px;}


.pull-request-list thead tr th { font-size: 14px; padding: 4px;}
.pull-request-list tbody tr td { font-size: 14px; padding: 4px;}

.pull-request-list .cv-font { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 14px;}

td a { color: inherit;}

.consolas-font {}
 /*#showErrorModal .modal-body { white-space: pre-wrap; } */
.tab-pane-self { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px; white-space: pre-wrap; }

.dropdown-menu a[href] { text-decoration: none; }

#showErrorModal .modal-body { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px; white-space: pre-wrap; font-size:12px;}
