{{ include('common/header.twig') }}
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" href="/config">Config</a>
                <a class="list-group-item" href="/host/config">Host Config</a>
                <a class="list-group-item" href="/deploy">Deploy</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% if SCOK == true %}
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Success!</h4>
                    <p>配置保存成功</p>
                </div>
                {% endif %}
            </div>
