{{ include('header.twig') }}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" href="#">配置</a>
                <a class="list-group-item" href="#">部署</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="alert alert-dismissable alert-warning hidden">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Warning!</h4>
                    <p></p>
                 </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>


{{ include('footer.twig') }}

