{{ include('header.twig') }}



            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="row">
            </div>


{{ include('footer.twig') }}

