<div class="footer">
    <div class="container text-center">
        <br>
        <hr>
        <p class="text-muted">ELEME DEPLOY</p>
    </div>
</div>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/eleme.js?v=1"></script>
</body>
</html>
